/* File: style.css */
#loading {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

#answer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
    text-align: center;
    line-height: 20px;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 800px ;
    height: max-content;
    background-color: rgb(155, 155, 155);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.container input {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-size: medium;
    outline: none;
    text-align: center;
    background: none;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;
}


h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.hidden {
    display: none;
}

/* Animasi loading */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading::after {
    content: ' ';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 4px solid #ccc;
    border-top: 4px solid #0b37ff;
    border-radius: 50%;
    margin-left: 10px;
    animation: spin 1s linear infinite;
}

/* Button Animation */
.glow-on-hover {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    background: #333333;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    }

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #fff
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
